body{
  font-family:Arial;
  padding:20px;
}

#bits{
  display:flex;
  align-items:center;
  font-family:monospace;
  font-size:22px;
  margin:15px 0;
}

.byte{
  display:flex;
  gap:3px;
  padding:4px;
  border-radius:6px;
  margin-right:6px;
}

.bit{
  width:18px;
  text-align:center;
  border-radius:3px;
  padding:3px;
}

.network{background:#4caf50;color:white}
.subnet{background:#ff9800;color:white}
.host{background:#ddd}

table{
  border-collapse:collapse;
  width:100%;
}

td,th{
  border:1px solid #ccc;
  padding:5px;
}
