body{
  font-family: Arial;
  background:#f2f2f2;
  padding:40px;
}

.controls{
  background:white;
  padding:20px;
  border-radius:10px;
  margin-bottom:25px;
}

#bits{
  font-family: monospace;
  font-size:26px;
  letter-spacing:4px;
  margin:20px 0;
}

.bit{
  padding:6px;
  border-radius:5px;
}

.network{ background:#4CAF50; color:white; }
.subnet{ background:#2196F3; color:white; }
.host{ background:#ddd; }

table{
  width:100%;
  border-collapse:collapse;
  background:white;
}

th,td{
  border:1px solid #ccc;
  padding:6px;
  text-align:center;
}

th{
  background:#333;
  color:white;
}
